*{
  padding:0;
  margin: 0;
}

html {
  background: linear-gradient(to bottom right, #3f51b5, #9c27b0); /* Blue-purple gradient */
  overflow: auto;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
}

header {
  background: linear-gradient(to right, #3f51b5, #7b1fa2); /* Blue to violet */
  padding-bottom: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

header h1 {
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  font-size: 2.5em;
  text-align: center;
  padding: 20px 10px;
  animation: pulseTitle 2s infinite;
}

.navbar {
  border-radius: 20px;
  background-color: #1a237e; /* Dark blue */
  width: 350px;
  padding: 10px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.label {
  width: 50px;
  display: flex;
  align-items: center;
}


.label li {
  list-style-type: none;
}

.nav-list label:hover {
  background-color: #414edb;
  border-radius: 10px;
  text-decoration: underline white;
  cursor: pointer;
}

.label a {
  text-align: center;
  text-decoration: none;
  color: white;
}

.calendar-section{
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  background: linear-gradient(to right top,#3f51b5,#7b1fa2);
  border-radius: 20px;
  color: white;
  text-align: center;
  box-shadow: 0 0 20px #9575cd;
}

.calendar-section h2{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-shadow: 1px 1px 3px #000;
}

.calendar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.month{
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.days{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
}

.day-name{
  font-weight: bold;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.day, .day-name, .marked{
  padding: 10px;
  border-radius: 8px;
  background-color:  rgba(255, 255, 255, 0.1);
}

.day:hover{
  background-color:  rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.marked:hover{
  background-color:  rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.empty{
  background-color: transparent;
}


.modal{
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content{
  background: linear-gradient(to right top,#3f51b5,#7b1fa2);
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 300px;
  text-align: center;
}
.modal-content #modalText{
  color: white;
}
.close{
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: black;
}
.butn div{
  display: inline-block;
}