body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.wrapper{
  width: 500px;
  height: 900px;
  display: flex;
  flex-direction: column;
  background: blue;
  text-align: center;
  overflow: hidden;
  font-size: 20px;
  border-radius: 30px;
}

#display{
  width: 100%;
  padding: 25px;
  text-align: left;
  font-size: 40px;
  border: none;
  background-color: hsl(212, 83%, 55%);
  color: white;
  outline: none;
  margin: 10px 0;
}

#result{
  font-size: 35px;
  position: absolute;
  left: 37%;
  top: 10%;
  text-align: center;
  font-weight: bold;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  justify-items: center;
  margin: 10px 0;
}

.btns{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: hsl(195, 74%, 52%);
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
}

.btns:hover{
  background-color: hsl(195, 74%, 62%);
}

.btns:active{
  background-color: hsl(195, 74%, 72%);
}

.kiss-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.container{
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .wrapper{
    width: 400;
    height: 700px;
    font-size: 10px;
  }

  #result{
    color: black;
    top: -2%;
    margin-right: 130px;
  }
}