html{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
}

body{
  overflow: hidden;
  background-color: #f3f3f3;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.message-container{
  width: 700px;
  height: 400px;
  background: linear-gradient(to top left, #1400c6, #4bc3ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-transform: uppercase;
  gap: 30px;
  position: absolute;
  border-radius: 30px;
}

.message-container button{
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  color: #fff;
  background-color: blue;
  border-radius: 10px;
}

.login-container{
  width: 700px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: lightblue;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container input{
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1.7rem;
  text-transform: uppercase;
  background-color: #f3f3f3;
}


.container button{
  border: none;
  font-size: 2rem;
  padding: 5px 20px;
  color: #fff;
  background-color: blue;
  border-radius: 10px;
  text-transform: uppercase;
  transition: 0.3s linear;
}

.container button:hover{
  background-color: hsl(240, 100%, 67%);
}

.message-container.active{
  animation-name: message-close;
  animation-duration: 5s ;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes message-close{
  0%{

  }
  25%{
   font-size: 10px;
  }
  33%{
    width: 300px;
    height: 300px;
    margin: 50px 200px;
    border-radius: 20%;
    font-size: 10px;
  }
  50%{
    width: 150px;
    height: 150px;
    margin: 175px 275px;
    border-radius: 30%;
    font-size: 5px;
  }
  53%{
    width: 75px;
    height: 75px;
    margin: 162.2px 312.5px;
    border-radius: 40%;
    font-size: 2px;
    display: none;
    transform: translateY(20px);
  }
  100%{
    width: 10px;
    height: 10px;
    margin: 50px 200px;
    border-radius: 50%;
    font-size: 0.5px;
    display: none;
  }
}
 















/* @media (max-width: 1500px) { */
    /* body{ */
    /* overflow: auto; */
    /* background-color: cyan; */
  /* } */
/*  */
  /* .wrapper { */
    /* display: flex; */
    /* flex-direction: row; side-by-side layout */
    /* border: solid; */
    /* box-sizing: border-box; */
    /* height: 97vh; */
    /* width: max(80%, 800px); wider for two panes */
    /* border-radius: 20px; */
    /* padding: 0; */
    /* overflow: hidden; */
    /* margin: auto; */
    /* margin-top: 50px; */
    /* background: linear-gradient(to right top, */
    /* lightblue, rgb(40, 67, 221)); */
  /* } */
/*  */
  /* .left-pane { */
    /* flex: 1; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 30px; */
  /* } */
/*  */
  /* .left-pane h3{ */
    /* color: white; */
    /* font-size: 2.5rem; */
    /* text-shadow: 1px 1px 2px black; */
  /* } */
/*  */
  /* .right-pane { */
    /* width: 900px; */
    /* flex: 1; */
    /* background: linear-gradient(to top left, #1400c6, #4bc3ff); */
    /* color: white; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 30px; */
    /* border-radius: 20px; */
    /* margin: 0 auto; */
  /* }   */
/*  */
  /* .right-content{ */
    /* text-align: center; */
    /* max-width: 80%; */
  /* } */
/*  */
  /* .right-content h2 { */
    /* font-size: 2em; */
    /* margin-bottom: 10px; */
  /* } */
/*  */
  /* .right-content p { */
    /* font-size: 1.1em; */
    /* line-height: 1.6; */
  /* } */
  /* .left-pane, .right-pane { */
    /* flex: 1; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 30px; */
  /* } */
/*  */
  /* .container{ */
    /* display: flex; */
    /* flex-direction: column; */
  /* } */
/*  */
  /* .container > input{ */
    /* margin-top: 5px; */
    /* font-size: 1.3em; */
    /* color: black; */
    /* font-weight: bold; */
    /* border: none; */
    /* box-shadow: 2px 2px 7px; */
    /* background-color: white; */
  /* } */
  /* .container > button{ */
    /* border: none; */
    /* font-size: 1.2em; */
    /* margin-top: 8px; */
    /* border-radius: 5px; */
    /* color: white; */
    /* background-color: black; */
    /* transition: 0.3s ease; */
    /* cursor: pointer; */
  /* } */
/*  */
  /* .container > button:hover{ */
    /* background-color: white; */
    /* color: black; */
  /* } */
/*  */
  /* #loginForm{ */
    /* border: solid rgb(32, 237, 237); */
    /* padding: 25px; */
    /* border-radius: 20px; */
    /* box-shadow: 2px 2px 5px; */
  /* } */
  /* .container label{ */
    /* font-size: 1.3rem; */
    /* font-weight: bold; */
    /* color: azure; */
    /* text-shadow: 1px 1px 2px black; */
 /* } */
/* } */





@media (max-width: 500px) {
  .wrapper {
    flex-direction: column;
    width: 95%;
  }

  .right-pane {
    border-radius: 20px;
    width: 320px;
  }
  .wrapper {
  display: flex;
  flex-direction: row; /* side-by-side layout */
  border: solid;
  box-sizing: border-box;
  height: 97vh;
  width: max(380px); /* wider for two panes */
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 50px;
  background: linear-gradient(to right top,
  lightblue, rgb(40, 67, 221));
}

.left-pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.left-pane h3{
  color: white;
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px black;
}

.right-pane {
  flex: 1;
  background: linear-gradient(to top left, #1400c6, #4bc3ff);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.right-content{
  text-align: center;
  max-width: 80%;
}

.right-content h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.right-content p {
  font-size: 1.1em;
  line-height: 1.6;
}
.left-pane, .right-pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.container{
  display: flex;
  flex-direction: column;
}

.container > input{
  margin-top: 5px;
  font-size: 1.3em;
  color: black;
  font-weight: bold;
  border: none;
  box-shadow: 2px 2px 7px;
  background-color: white;
}
.container > button{
  border: none;
  font-size: 1.2em;
  margin-top: 8px;
  border-radius: 5px;
  color: white;
  background-color: black;
  transition: 0.3s ease;
  cursor: pointer;
}

.container > button:hover{
  background-color: white;
  color: black;
}

#loginForm{
  border: solid rgb(32, 237, 237);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px;
}
.container label{
  font-size: 1.3rem;
  font-weight: bold;
  color: azure;
  text-shadow: 1px 1px 2px black;
}

}
