@font-face {
  font-family: Roboto;
  src: url('Roboto-Regular.ttf');
}

html{
  text-align: center;
  font-family: "Roboto";
  font-size: 75%;
  background-color: black;
}


body{
  overflow: hidden;
  background: url('bg2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container{
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  background:linear-gradient(to right, blue, rgb(53, 224, 254)) ;
  color: white;
  z-index: 999;
}

.message-container button{
  width: 250px;
  padding: 10px 20px;
  font-size: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease ;
}

.message-container button:hover{
  /* background:linear-gradient(to right, blue, rgb(53, 224, 254)); */
  border: 2px  transparent;
}

.message-container button.active{
  animation: 3s entering ease forwards;
}

.message-container.active{
  animation: 3s entering ease-in-out forwards;
}

@keyframes entering {
  0%{
    width: 100%;
    height: 100%;
  }
  50%{
    margin: 305.4px 820.6245px;
    width: 19.9%;
    height: 40%;
    font-size: 15%;
  }
  100%{
    font-size: 0.001%;
    color: transparent;
    border-radius: 30%;
    width: 2%;
    height: 4%;
    margin: 488.64px 1004.01px;
    display: none;
  }
}

.wrapper{
  width: 800px;
  height: 600px;
  background: transparent;
  border: 2px solid rgba( 255, 255 ,255, .2);
  backdrop-filter: blur(0.4rem);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.login-container{
  color: white;
  font-size: 4rem;
  position: absolute;
  top: -3%;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container input{
  font-size: 3rem;
  background-color: transparent;
  border: 4px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 20px;
  padding: 5px 20px;
  color: white
}
::placeholder{
  color: white;
}

.container button {
  border: none;
  width: 200px;
  font-size: 2rem;
  padding: 2px 20px;
  margin-top: 30px;
  color: white;
  background-color: transparent;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container button:hover{
  background: linear-gradient(to right, rgb(160, 34, 160), rgb(153, 14, 228));
}

@media (max-width: 576px) {
  body{
    overflow: hidden;
  }

  .message-container{
    font-size: 1.9rem;
    margin: 0 auto;
  }

  .wrapper{
    width: 380px;
  }

  .container input{
    font-size: 1.5rem;
  }
}